@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Tajawal);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  font-family: Karla; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

@media (min-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 10% 280px auto 10%;
    grid-template-rows: auto 1fr auto; } }
.gutter {
  grid-column: span 1;
  grid-row: span 3; }

header {
  grid-column: span 1;
  font-family: Vollkorn; }
  header a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    letter-spacing: 0.5px; }
    header a:hover {
      color: #868686; }
  @media (min-width: 767px) {
    header {
      padding: 52px 30px 0px 0px;
      text-align: left; }
      header a {
        font-size: 1.6em; } }
  @media (max-width: 766px) {
    header {
      padding: 70px 30px 0px 30px;
      text-align: center; }
      header a {
        font-size: 2em; } }

nav {
  grid-column: span 1; }
  @media (min-width: 767px) {
    nav {
      text-align: left;
      padding: 57px 30px 0px 0px; } }
  @media (max-width: 766px) {
    nav {
      text-align: center;
      padding: 15px 30px 0px 20px; } }
  nav a {
    text-decoration: none;
    color: #4e4e4e;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 550;
    margin: 10px;
    position: relative; }
    @media (min-width: 767px) {
      nav a {
        text-align: left; }
        nav a a {
          padding: 9px; } }
    @media (max-width: 766px) {
      nav a {
        text-align: center; }
        nav a a {
          padding: 9px; } }
    nav a:before, nav a:after {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #e7e7e7; }
    nav a:before {
      opacity: 0;
      transform: translateY(8px);
      transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
    nav a:after {
      opacity: 0;
      transform: translateY(4px);
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    nav a:hover:before, nav a:hover:after, nav a:focus:before, nav a:focus:after {
      opacity: 1;
      transform: translateY(0); }
    nav a:hover:before, nav a:focus:before {
      transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s; }
    nav a:hover:after, nav a:focus:after {
      transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s; }

aside {
  padding: 20px;
  background-color: #936; }

footer {
  grid-column: span 2;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  color: black; }

main {
  grid-column: span 2;
  flex: 1;
  line-height: 2em; }
  @media (min-width: 767px) {
    main {
      padding: 40px 0px; } }
  @media (max-width: 766px) {
    main {
      padding: 40px 7%; } }
  main p {
    color: #4e4e4e;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: Roboto;
    padding: 5px 0px; }

.post {
  max-width: 850px;
  margin: 0 auto; }
  .post a {
    color: black; }

.bub {
  width: 3em;
  height: 0.4em;
  background-color: #e7e7e7;
  left: 0%; }

.bloc {
  width: 1em;
  height: 2em; }

h1 {
  margin: 1.5em 0em 0.4em;
  font-size: 2em;
  font-family: Vollkorn;
  color: black;
  letter-spacing: 1px;
  line-height: 1.5em; }
  h1 a {
    text-decoration: none; }
    h1 a:hover {
      text-decoration: underline; }

h2 {
  margin: 0.5em 0em 0.7em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #4e4e4e; }

h3 {
  margin: 1em 0em 0.5em;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }

h4 {
  font-size: 0.9em;
  font-style: italic; }
  h4 a:hover {
    color: blue; }

/*# sourceMappingURL=style.css.map */
